<div>
	<span class='btn' ng-click="grow()">Grow</span>
	<span class='btn' ng-click="fast_grow()">Fast Grow</span>
	<span class='btn' ng-click="kaboom()">Kaboom</span>
	<span class='btn' ng-click="start()">Start</span>
	<span class='btn' ng-click="stop()">Stop</span>
</div>
<gh-visualization val="data"></gh-visualization>
